/* purple colors
 * light: #a15eb6
 * rich/dark: #6766a4
 */
body {
    font-family: "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #eee;
}

a, a:hover, .dropdown-toggle {
    color: #a15eb6;
}

#header {
    background: #222;
}

#header-links {
    float: right;
    color: #fff;
}

#transcript_dropdown {
    margin: 0px 0px 20px 0px;
}

#header-links a {
    color: #fff;
    font-weight: bold;
}

.dropdown-toggle.btn-default {
    border: 0;
    border-radius: 0;
}

.dropdown-menu {
    border: 0;
}

.navbar {
    height: 90px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 0px;
    border: 0;
    border-bottom: 1px;
    border-radius: 0px;
    border-color: #ccc;
    background: #fff;
}

.navbar .navbar-form {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar a {
    color: #888;
}

.navbar a:hover{
    text-decoration: none;
   	color: #A15EB6;
}

.navbar-brand {
    margin-top: 20px;
}

.navbar-brand a {
    vertical-align: bottom;
    font-size: 32px;
    font-weight: 500;
    color: #6766a4;
}

.navbar navbar-default{
    display: inline-block;
    vertical-align: middle;
}

#navbar_form_container {
    margin-left: -50px;
    margin-top: 25px;
}

.navbar-form {
    text-align: center;
    height: 40px;
}

#navbar_links {
    height: 100%;
    float: right;
    margin-top: 35px;
}

#navbar_links a {
    vertical-align: bottom;
    font-weight: 500;
    font-size: 14px;
}

.nav>li>a {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.form-control, .input-lg {
    border-radius: 0;
}

.container.home {
  margin-left: 0;
  margin-right: 0;
  width: auto;
}

#home-title {
    text-align: center;
    padding: 30px;
    font-size: 32px;
    color: #fff;
}

#home-splash {
    height: 400px;
    padding-top: 20px;
    background-color: #6766a4;
    /* background-image: url('/static/homePage_headerImage@2x.png'); */
    background-position: center;
    background-size: auto 100%;
}

#home-searchbox {
    width: 500px;
    margin: auto;
}

#home-searchbox form {
    background-color: #fff;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px 40px 30px 40px;
}

.card.captioned {
    margin-top: 0;
    padding-top: 0;
}

.card, #site-banner {
    background-color: #fff;
}

#site-banner {
    padding-left: 0;
    padding-right: 0;
}

#genes * {
    text-align: left;
}

#about-intro *, #home-text, #genes h1, #logos, .banner {
    text-align: center;
}

.about a, #home-text a {
    white-space: nowrap;
}

#home-text {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#genes table {
    border-collapse: separate;
    border-spacing: 10px;
    font-style: italic;
}

h1 {
	font-size: 32px;
	line-height: 1.3;
	font-weight: 500;
  color: #6766A4;
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 16px;
    font-weight: 500;
}

h4{
    font-size: 16px;
    font-weight: 400;
}

h5{
    font-size: 14px;
    font-weight: 400;
}

p{
    line-height: 1.6em;
}

#about-full .about-paragraph{
  margin-bottom: 40px;
}

#not-found {
    text-align: center;
}

.pull-right {
    text-align: right;
}

.transcript{
  margin-top: -15px;
  font-size: 14px;
}

#logos {
    margin-top: 40px;
}

#logos a:hover {
    text-decoration: none;
}

.banner > div {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#gene-banner {
    background-color: #E9E9E9;
    margin-top: -20px;
    padding: 10px;
    font-size: 14px;
}

#footnotes {
    padding-left: 0;
    color: #7f8686;
    font-size: 14px;
}

#footnotes li {
    list-style: none;
    margin-bottom: 10px;
}

.link {
    cursor: pointer;
}

.dl-horizontal dt {
    white-space: normal;
}

.tt-query {
    color: #000;
}

#frequency_table, #annotation_table {
    table-layout: auto;
}

.table > tbody > tr > td {
    overflow: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.table .btn-group > .btn {
    display: table-cell;
    position: unset;
    float: unset;
    font-weight: lighter;
    padding: 5px;
}

.table caption, .caption {
    background-color: #6766a4;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 30px;
    font-variant: all-caps;
}

.table caption a, .caption a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}

#filter-bar {
    padding: 10px 30px;
    background-color: #fff;
    font-size: 14px;
}

#variant_table td {
    max-width: 200px;
}

#variant_table {
    margin-top: 0;
}

#variant_table tr {
    cursor: pointer;
}

#variant_table tr a {
    color: #333;
}

#variant_table tr a:hover {
    text-decoration: none;
}

.tablesorter-sticky-visible {
    overflow: hidden;
}

.tablesorter-header {
    outline: 0;
}

.consequence_display_buttons a {
    cursor: pointer;
}

.lof_variant {
    color: #cd2932 !important;
    fill: #cd2932 !important;
}

.missense_variant {
    color: #a96500 !important;
    fill: #a96500 !important;
}

.synonymous_variant {
    color: #157e28 !important;
    fill: #157e28 !important;
}

#gene_plot {
    overflow: auto;
    padding: 40px 0 40px 30px;
}

.tooltip_hover {
    border-bottom: dotted 1px #000;
}

.section_header {
    margin-top: 20px;
    font-size: 24px;
}

.card-header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

#gene-misc > *, #variant-misc > * {
    margin-bottom: 0;
}

#gene-misc > .dropdown, #variant-misc > .dropdown {
  margin: 15px -10px 0 0;
}

#frequency_table_container {
    padding-left: 0;
}

#annotation_table_container {
    padding-right: 0;
}

.gray {
    color: #aaaaaa;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.table_hover {
    background-color: #b5f7ff !important;
}

th.allele_frequency_column {
    width: 150px;
}

/* Temporary! */
#cnv_svg {
    display: none;
}

/* tooltips - based on http://cbracco.me/a-simple-css-tooltip/ */
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    white-space: pre;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -40px;
    padding: 7px;
    width: auto;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}


/** @bw2 - class that shifts tooltip down to make it look better on variant table headers
TODO: come up with a better way to position tooltip
*/
.tooltip-table-header:hover:before,
.tooltip-table-header:hover:after,
.tooltip-table-header:focus:before,
.tooltip-table-header:focus:after {
    -webkit-transform: translate(-5px, 7px);
    -moz-transform:    translate(-5px, 7px);
    transform:         translate(-5px, 7px);
}


/* Suggestions box on home page / Twitter typeahead / homepage search box */
#navbar-searchbox-input, .suggestions, .twitter-typeahead {
    background: #FFFFFF;
}
#navbar-awesomebar {
    width: 400px;
    border: 1px solid #DDDDDD;
    margin-left: -100px;
}
@media (max-width: 768px) {
    #navbar-awesomebar {
        margin-left: 0px;
    }
}
#navbar-awesomebar .tt-dropdown-menu {
    width: 351px;
    min-width: 351px;
}

.suggestions, .twitter-typeahead {
    width: 88%;
}

#navbar-searchbox-input {
    min-width: 400px;
    height: 46px;
    padding-left: 18px;
}

.search-button {
    display: inline-block;
    height: 46px;
    margin: 0;
    float: right;
    background-color: #F5A623;
    outline: none;
    border: none;
    width: 12%;
}


.suggestions {
    display: none;
    border: 1px solid #DDDDDD;
    -webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.31);
}
    .suggestions__title {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        color: #888;
        padding: 10px 18px;
    }
    .suggestions__link {
        display: block;
        font-size: 14px;
        color: #333;
        padding: 8px 18px 9px;
        white-space: nowrap;
    }
        .suggestions__link:hover {
            text-decoration: none;
            outline: 0;
            color: #333;
            background-color: #ECECEC;
        }

.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 440px;
  background-color: #ffffff;
  border: none;
  -webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.31);
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.31);
  font-size: 14px;
  text-align: left;
  border: 1px solid #DDDDDD;
}
.tt-suggestion > p {
  display: block;
  padding: 8px 18px 9px;
  clear: both;
  font-weight: normal;
  white-space: nowrap;
  margin-bottom: 0;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  background-color: #ECECEC;
}
/* typeahead hint in the awesemebar, hide for now per Kelly */
.tt-hint {
    display: none !important;
}
