#header {
    background: #222;
    padding: 10px 0;
}

#header-links {
    float: right;
    color: white;
}

#header-links a {
    color: white;
    font-weight: bold;
}

#home-title {
    text-align: center;
    padding: 30px;
}

#home-searchbox {
    margin: 20px 0;
}

.twitter-typeahead {
    width: 100%;
}

.link {
    cursor: pointer;
}

.dl-horizontal dt {
    white-space: normal;
}

.lof_variant {
    background: indianred;
}

.missense_variant {
    background: #ffff00;
}

.all_variant {
    background: white;
}

.section_header {
    font-weight: bold;
    font-size: 24px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.table_hover {
    background-color: #b5f7ff !important;
}