/* color scheme: purple:
 * dark: #657
 * light: #a9b
 */
body {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: large;
    background-color: #eee;
}

div.row {
    background-color: #fff;
}

#logos img {
    height: 50px;
    margin: 20px;
}

a, a:hover {
    color: #a15eb6;
}

#header {
    background: #222;
}

#header-links {
    float: right;
    color: white;
}

#transcript_dropdown {
    margin: 0px 0px 20px 0px;
}

#header-links a {
    color: white;
    font-weight: bold;
}

.dropdown-toggle.btn-default {
    border: 0;
    border-radius: 0;
}

.dropdown-menu {
    border: 0;
}

.navbar {
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px;
    border-radius: 0px;
    border-color: #ccc;
    background: #fff;
}

.navbar .navbar-form {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-brand {
    height: 80px;
    vertical-align: bottom;
}

.navbar a {
    color: #888;
}

.navbar-brand a:hover {
    text-decoration: none;
}

.navbar-brand img {
    height: 100%;
}

#navbar_form_container {
    height: 100%;
    vertical-align: middle;
}

#navbar-searchbox-input, .twitter-typeahead {
    background: #fff;
}

#navbar-searchbox-input {
    min-width: 400px;
}

#navbar_links {
    height: 100%;
    float: right;
    margin: 25px;
}

#navbar_links a {
    font-variant: all-small-caps;
    font-weight: bold;
}

.nav>li>a {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.form-control, .input-lg {
    border-radius: 0;
}

#home-title {
    text-align: center;
    padding: 30px;
    font-size: 44px;
    color: #fff;
}

#home-splash {
    height: 400px;
    background-image: url('/static/home_banner@2x.png');
    background-position: center;
    background-size: auto 100%;
}

#home-searchbox {
    width: 490px;
    margin: 20px 0;
}

#home-searchbox form, #home-examples {
    background-color: #fff;
}

#home-examples {
    padding-left: 1em;
    padding-bottom: 8px;
    font-size: small;
}

.twitter-typeahead {
    width: 100%;
}

.link {
    cursor: pointer;
}

.dl-horizontal dt {
    white-space: normal;
}

.tt-query {
  color: #000;
}

.tt-hint {
  color: #999;
}

.table {
    table-layout: fixed;
}

.table > tbody > tr > td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.table .btn-group > .btn {
    display: table-cell;
    position: unset;
    float: unset;
    font-weight: lighter;
    font-size: large;
}

.table caption {
    background-color: #546;
    color: white;
    font-size: 24px;
    padding: 10px;
}

.consequence_display_buttons {
    color: #000 !important;
    border: 1px solid #ddd !important;
    cursor: pointer;
}

.consequence_display_buttons:hover, .table th:hover {
    background-color: #a9b;
}

.consequence_display_buttons input {
    display: none;
}

.lof_variant {
    color: #cd2932 !important;
    fill: #cd2932 !important;
}

.missense_variant {
    color: #a96500 !important;
    fill: #a96500 !important;
}

.synonymous_variant {
    color: #157e28 !important;
    fill: #157e28 !important;
}

.tooltip_hover {
    border-bottom: dotted 1px #000;
}

.section_header {
    margin-top: 20px;
    font-size: 24px;
}

#variant-header {
    padding-left: 1em;
    padding-right: 1em;
}

#variant-nomenclatures {
    float: left;
}

#variant-misc {
    float: left;
}

.gray {
    color: #aaaaaa;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.table_hover {
    background-color: #b5f7ff !important;
}

th.allele_frequency_column {
    width: 150px;
}

/* tooltips - based on http://cbracco.me/a-simple-css-tooltip/ */
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    white-space: pre;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -40px;
    padding: 7px;
    width: auto;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}


/** @bw2 - class that shifts tooltip down to make it look better on variant table headers
TODO: come up with a better way to position tooltip
*/
.tooltip-table-header:hover:before,
.tooltip-table-header:hover:after,
.tooltip-table-header:focus:before,
.tooltip-table-header:focus:after {
    -webkit-transform: translate(-5px, 7px);
    -moz-transform:    translate(-5px, 7px);
    transform:         translate(-5px, 7px);
}
