#header {
    background: #222;
    /*padding: 10px 0;*/
}

#header-links {
    float: right;
    color: white;
}

#header-links a {
    color: white;
    font-weight: bold;
}

.navbar {
    margin-bottom: 0px;
}

#home-title {
    text-align: center;
    padding: 30px;
}

#home-searchbox {
    margin: 20px 0;
}

.twitter-typeahead {
    width: 100%;
}

.link {
    cursor: pointer;
}

.dl-horizontal dt {
    white-space: normal;
}

.lof_variant {
    color: #cd2932 !important;
    fill: #cd2932 !important;
}

.missense_variant {
    color: #a96500 !important;
    fill: #a96500 !important;
}

.synonymous_variant {
    color: #157e28 !important;
    fill: #157e28 !important;
}

.section_header {
    font-weight: bold;
    font-size: 24px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.table_hover {
    background-color: #b5f7ff !important;
}