<p>All genetic variants in this database are from germline DNA of 10,000 women (7,000 European American and 3,000 African American), older than 70, who have never had cancer. The participants are Fabulous Ladies Over Seventy (FLOSsies).
</p>
<p>Germline DNA of each participant has been sequenced for 27 genes known or suggested to harbor mutations that predispose to breast cancer. Frequencies and profiles of variants in these healthy older women can serve as controls for evaluating variants encountered in these genes.
</p>
