{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h1>About the WHI Variant Database</h1>
        <div class="row" style="font-size: 16px;">
            <p>
              TODO
            </p>
            <p>
                <a href="https://www.whi.org/">WHI</a> Variant Database. <a href="https://getcolor.com/">Color Genomics</a>.
            </p>
            <p>
                This site uses a modified version of the open source <a href="https://github.com/konradjk/exac_browser">ExAC Browser</a>, developed by <a href="http://broadinstitute.org/">The Broad Institute</a> and distributed <a href="https://github.com/konradjk/exac_browser/blob/master/LICENSE">under the MIT License</a>.
            </p>
        </div>
    </div>

{% endblock %}
