{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h1>Contact</h1>
        <p>
            This is a beta site and we encourage users to contact us with bugs or feature suggestions.
        </p>
        <p>
            Errors in the website can be <a href="https://github.com/konradjk/exac_browser/issues">reported via Github</a>.
        </p>
        <p>
            You can also contact us by <a href="mailto:exac.data@gmail.com">email</a> to report data problems or feature suggestions.
        </p>
        <p>
            Sign up for our low-volume mailing list for future release announcements <a href="https://groups.google.com/forum/#!forum/exac_data_announcements">here</a>.
        </p>
    </div>
{% endblock %}
