{% extends "layout.html" %}
{% block body %}
    <div class="container" style="font-size: 16px;">
        <h1>Downloads</h1>
        <p>
            Data for release 1.0 of the Exome Aggregation Consortium are available via FTP <a href="ftp://ftp.broadinstitute.org/pub/ExAC_release">here</a> <em>(updated 02-27-2017)</em> or through the links provided below. If you are presented with a login prompt, please try entering "guest" as the username/password. <br><br>If you are having trouble with the FTP, try downloading from <a href="https://console.cloud.google.com/storage/browser/gnomad-public/legacy/exacv1_downloads/?project=broad-mpg-gnomad&organizationId=548622027621">this Google storage bucket</a>. You can also copy files in parallel on command line using <a href="https://cloud.google.com/sdk/docs/">Google Cloud SDK</a>. See <a href="https://cloud.google.com/storage/docs/gsutil/commands/cp">these instructions</a>.
        </p>
         <ul class="media-list">
            <div class="media-body">
                <table border="1" cellspacing="0" cellpadding="0">
                    <tbody align="center">
                        <tr>
                            <td width="357">
                                <p>
                                    <strong>FTP Link</strong>
                                </p>
                            </td>
                            <td width="500">
                                <p align="center">
                                    <strong>Description</strong>
                                </p>
                            </td>
                        </tr>
                         <tr>
                            <td width="357">
                                <p>
                                    <a href="ftp://ftp.broadinstitute.org/pub/ExAC_release">Sites VCF</a>
                                </p>
                            </td>
                            <td width="500">
                                <p align="center">
                                    VCF of Variant Sites
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="357">
                                <p>
                                    <a href="ftp://ftp.broadinstitute.org/pub/ExAC_release/release0.3.1/cnv">CNV</a>
                                </p>
                            </td>
                            <td width="500">
                                <p align="center">
                                    CNV Counts and Intolerance Scores
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="357">
                                <p>
                                    <a href="ftp://ftp.broadinstitute.org/pub/ExAC_release/release0.3.1/coverage">Coverage</a>
                                </p>
                            </td>
                            <td width="500">
                                <p align="center">
                                    Per Base Coverage
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="357">
                                <p>
                                    <a href="ftp://ftp.broadinstitute.org/pub/ExAC_release/release0.3.1/functional_gene_constraint">Functional Gene Constraint </a>
                                </p>
                            </td>
                            <td width="500">
                                <p align="center">
                                    Functional Gene Constraint Scores for ExAC and Subsets
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="357">
                                <p>
                                    <a href="ftp://ftp.broadinstitute.org/pub/ExAC_release/release0.3.1/manuscript_data">Manuscript Data</a>
                                </p>
                            </td>
                            <td width="500">
                                <p align="center">
                                    Variant Tables Used in Manuscript
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="357">
                                <p>
                                    <a href="ftp://ftp.broadinstitute.org/pub/ExAC_release/release0.3.1/resources">Resources</a>
                                </p>
                            </td>
                            <td width="500">
                                <p align="center">
                                    Exome Calling and Purcell5k Intervals
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td width="357">
                                <p>
                                    <a href="ftp://ftp.broadinstitute.org/pub/ExAC_release/release0.3.1/subsets">Subsets</a>
                                </p>
                            </td>
                            <td width="500">
                                <p align="center">
                                    Non-TCGA VCF Subset
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


    </div>
{% endblock %}

