{% extends "layout.html" %}
{% block body %}
<div class="container card">
    <div id="not-found" class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>This variant, gene, or transcript was not found in the FLOSSIES data set.</h1>
            <p>This most likely means that it was not sequenced and analyzed, or is not present in the population of people within this data set. <a href="/about">Learn more</a></p>
        </div>
    </div>
</div>
<div class="container card">
    <div id="not-found" class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3>Where do we get our data from?</h3>
            {% include 'about_text.html' %}
            {% include 'logos.html' %}
        </div>
    </div>
</div>
{% endblock %}
