{% extends "layout.html" %}
{% block body %}
    <div class="container" style="font-size: 16px;">
        <h1>Frequently Asked Questions</h1>
        <br/>
        <ul class="media-list">
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">What genome build is the ExAC data based on?</h4>
                    All data are based on <a href="ftp://ftp.broadinstitute.org/pub/seq/references/Homo_sapiens_assembly19.fasta">GRCh37/hg19</a>
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">What version of dbSNP was used to annotate variants?</h4>
                    dbSNP 135
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">What version of Gencode was used to annotate variants?</h4>
                    Version 75
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">Fort Lauderdale Agreement Document is too long to read just tell me what it means!</h4>
                    Short description here.
                </div>
            </li>
            <li class="media">
                <div class="media-body">
                    <h4 class="media-heading">Are all the individuals in the Exome Variant Server included?</h4>
                    Short description here.
                </div>
            </li>
            
            
        </ul>
    </div>
{% endblock %}
