{% extends "layout.html" %}
{% block body %}
    <script>
        $(document).ready(function() {
            $("#gene_variants_table").tablesorter({widthFixed: true})
                    .tablesorterPager({container: $("#pager")});
        });
    </script>
    <div class="container">
        <h1>Gene: {{ gene.gene_name }}</h1>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>Number of variants</dt>
                    <dd>{{ variants_in_gene|length }}</dd>
                    <dt>Number of LoF variants</dt>
                    <dd>{{ variants_in_gene|length }}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <p>Transcripts:</p>
                <ul>
                    {% for transcript in transcripts_in_gene %}
                        <li>
                            <a href="/transcript/{{ transcript.transcript_id }}">{{ transcript.transcript_id }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            {% if variants_in_gene %}
                <table id="gene_variants_table" class="tablesorter">
                    <thead>
                        <tr>
                            <th>Variant</th>
                            <th>Position</th>
                            <th>Allele Frequency</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for variant in variants_in_gene %}
                        <tr>
                            <td>
                                {% if variant.rsid == '.' %}
                                    <a href="/variant/{{ variant.chrom }}-{{ variant.pos }}-{{ variant.ref }}-{{ variant.alt }}">
                                        {{ variant.chrom }}:{{ variant.pos }} {{ variant.ref }} / {{ variant.alt }}
                                    </a>
                                {% else %}
                                    <a href="/variant/{{ variant.chrom }}-{{ variant.pos }}-{{ variant.ref }}-{{ variant.alt }}">
                                        {{ variant.rsid }}
                                    </a>
                                {% endif %}
                            </td>
                            <td> {{ variant.pos }}</td>
                            <td>{{ variant.allele_freq }}</td>
                        </tr>
                    {% endfor %}
                    <tbody>
                </table>
                <div id="pager" class="pager">
                <form>
                    <i class="fa fa-caret-square-o-left fa-2x first link"></i>
                    <i class="fa fa-caret-left fa-2x prev link"></i>
                    <i class="fa fa-caret-right fa-2x next link"></i>
                    <i class="fa fa-caret-square-o-right fa-2x last link"></i>
                </form>
</div>
            {% else %}
                No variants in this gene.
            {% endif %}
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <hr/>
        <p>The gene object that we are displaying looks like this:</p>
        <pre>{{ gene|pprint(True) }}</pre>
        <hr/>
        <p>It has these transcripts:</p>
        <pre>{{ transcripts_in_gene|pprint(True) }}</pre>
        <hr/>
        <p>It has these variants:</p>
        <pre>{{ variants_in_gene|pprint(True) }}</pre>
    </div>
{% endblock %}