{% extends "layout.html" %}
{% block body %}
{% include 'site_banner.html' %}
    <!-- Render context vars in JS here -->
    <script type="text/javascript">
        window.gene = {{ gene|tojson|safe }};
        window.transcript = {{ transcript|tojson|safe }};
        window.table_variants = {{ variants_in_gene|tojson|safe }};
        window.variants_in_transcript = {{ variants_in_transcript|tojson|safe }};
        window.transcripts_in_gene = {{ transcripts_in_gene|tojson|safe }};
        window.coverage_stats = {{ coverage_stats|tojson|safe }};
        window.page_name = window.gene.gene_id;
        window.cnvs = {{ cnvs|tojson|safe }};
        window.cnvgenes = {{ cnvgenes|tojson|safe }};
        window.annotations = {{ annotations|tojson|safe }};

        $(document).ready(function() {
            $("#variants_loading").hide();
            $("#variants_table_container").show();

            filtered_variants = _.filter(window.table_variants, function(d) {
                return d.filter == 'PASS';
            });
            $('#number_of_variants').replaceWith(filtered_variants.length);
            // lof_filtered_variants = _.filter(window.table_variants, function(d) {
            //     return d.filter == 'PASS' && d.category == 'lof_variant';
            // });
            // $('#number_of_lof_variants').replaceWith(lof_filtered_variants.length);
            //
            // var v = window.cnvgenes;
            // filtered_cnvs = v[0].cnv60;
            // $('#number_of_cnvs').replaceWith(filtered_cnvs);
            //
            // unfiltered_cnvs = v[0].cnv0;
            // $('#number_all_cnvs').replaceWith(unfiltered_cnvs);
            //
            // filtered_dels = v[0].del60;
            // $('#number_of_dels').replaceWith(filtered_dels);
            //
            // unfiltered_dels = v[0].del0;
            // $('#number_all_dels').replaceWith(unfiltered_dels);
            //
            // filtered_dups = v[0].dup60;
            // $('#number_of_dups').replaceWith(filtered_dups);
            //
            // unfiltered_dups = v[0].dup0;
            // $('#number_all_dups').replaceWith(unfiltered_dups);
            //
            // cnv_score = v[0].cnv_score;
            // $('#cnv_score').replaceWith(cnv_score);
            //
            // rank = v[0].rank;
            // $('#rank').replaceWith(rank);
        });
    </script>

    <div class="container">
        <div class="row card card-header">
            <div class="pull-left">
                <h1>{{ gene.gene_name }}</h1>
                {% if gene.full_gene_name %}
                    <div class="transcript">
                      <h5 class="capitalize";>{{ gene.full_gene_name }}</h5>
                      <h5>{{ gene.canonical_transcript_nm }} | {{ gene.canonical_transcript }}</h5>
{#
                      {% if gene.gene_name == 'CHEK2' %}
                          <h5>NM_001005735 | ENST00000382580</h5>
                      {% endif %}
#}
                    </div>
                {% endif %}
            </div>
            <div id="gene-misc" class="pull-right">
                <h2 style="color:#6766A4"><span id="number_of_variants"></span></h2>
                variants
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="external_ref_dropdown" data-toggle="dropdown">
                        Additional resources
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="external_ref_dropdown">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="http://grch37.ensembl.org/Homo_sapiens/Gene/Summary?g={{ gene.gene_id }}" target="_blank">
                                Ensembl
                            </a>
                        </li>
                        <li role="presentation" class="visible-xs-block">
                            <a href="http://exac.broadinstitute.org/gene/{{ gene.gene_id }}" target="_blank">
                                ExAC
                            </a>
                        </li>
                        <li role="presentation" class="visible-xs-block">
                            <a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ gene.gene_name }}" target="_blank">
                                GeneCards
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="http://www.gtexportal.org/home/gene/{{ gene.gene_name }}" target="_blank">
                                GTEx (Expression)
                            </a>
                        </li>
                        {% if gene.omim_accession %}
                        <li role="presentation" class="visible-xs-block">
                            <a href="http://omim.org/entry/{{ gene.omim_accession }}" target="_blank">
                                OMIM
                            </a>
                        </li>
                        {% endif %}
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="http://www.ncbi.nlm.nih.gov/pubmed?term={{ gene.gene_name }}" target="_blank">
                                PubMed Search
                            </a>
                        </li>
                        <li role="presentation" class="visible-xs-block">
                            <a href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&position=chr{{ gene.chrom }}%3A{{ gene.start - 1 }}-{{ gene.stop - 1 }}" target="_blank">
                                UCSC Browser
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="http://www.wikigenes.org/?search={{ gene.gene_name }}" target="_blank">
                                Wikigenes
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="http://en.wikipedia.org/wiki/{{ gene.gene_name }}" target="_blank">
                                Wikipedia
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {% if gene.gene_name == 'RECQL' %}
        <div id="gene-banner" class="row card">
            <div class="col-md-12">
                RECQL was only sequenced for {{ total_num }} participants. Variant frequency data reflects this.
            </div>
        </div>
        {% endif %}

        <!-- CNV table -->
        <div class="row {% if not cnvs %} hidden {% endif %}">
        <div id="cnv_table_container" class="col-md-12">
        <table id="cnv_table" class="tablesorter table table-striped table-bordered table-hover gene-table">
            <caption>
              Copy number variants
              <a id="export_cnvs_to_csv" class="pull-right" href="">
                  <i class="fa fa-arrow-right fa-20px"></i> Export table to CSV
              </a>
            </caption>
            <thead>
                <tr>
                    <th>Region</th>
                    <th>Class</th>
                    <th class="hidden omit_csv">Breakpoints</th>
                    <th title="European American">European (n={{ pop_num['European American'] }})</th>
                    <th title="African American">African (n={{ pop_num['African American'] }})</th>
                    <th>Overall Frequency</th>
                </tr>
            </thead>
            <tbody>
                {% for cnv in cnvs %}
                    <tr>
                        <td class="capitalize">{{ cnv.uw.Region }}</td>
                        <td class="capitalize">{{ cnv.uw.Class }}</td>
                        <td class="hidden omit_csv">{{ cnv.uw.Breakpoints }}</th>
                        <td>{{ cnv.uw.EUR }}</td>
                        <td>{{ cnv.uw.AFR }}</td>
                        <td>{{ cnv.freq }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        </div>

        <script>
        $("#cnv_table").tablesorter({
            sortList: [[0,0]],
            widgets: ["stickyHeaders"]
        });
        </script>

        {% with plot_id = gene.gene_name %}
        {% include 'transcript_display.html' %}
        {% endwith %}
        {% if variants_in_transcript %}
            {% set chrom = variants_in_transcript[0].chrom %}
            {% include 'variant_table.html' %}
        {% else %}
            No variants in this gene.
        {% endif %}

    </div>
{% endblock %}
