<p><em>
<a href="/awesome?query=BRCA1">BRCA1</a>,
<a href="/awesome?query=BRCA2">BRCA2</a>,
<a href="/awesome?query=ATM">ATM</a>,
<a href="/awesome?query=ATR">ATR</a>,
<a href="/awesome?query=BAP1">BAP1</a>,
<a href="/awesome?query=BARD1">BARD1</a>,
<a href="/awesome?query=BRIP1">BRIP1</a>,
<a href="/awesome?query=CDH1">CDH1</a>,
<a href="/awesome?query=CHEK1">CHEK1</a>,
<a href="/awesome?query=CHEK2">CHEK2</a>,
<a href="/awesome?query=CTNNA1">CTNNA1</a>,
<a href="/awesome?query=FAM175A">FAM175A</a>,
<a href="/awesome?query=FANCM">FANCM</a>,
<a href="/awesome?query=GEN1">GEN1</a>,
<a href="/awesome?query=MRE11A">MRE11A</a>,
<a href="/awesome?query=NBN">NBN</a>,
<a href="/awesome?query=PALB2">PALB2</a>,
<a href="/awesome?query=PTEN">PTEN</a>,
<a href="/awesome?query=RAD51B">RAD51B</a>,
<a href="/awesome?query=RAD51C">RAD51C</a>,
<a href="/awesome?query=RAD51D">RAD51D</a>,
<a href="/awesome?query=RECQL">RECQL</a>,
<a href="/awesome?query=RINT1">RINT1</a>,
<a href="/awesome?query=SLX4">SLX4</a>,
<a href="/awesome?query=STK11">STK11</a>,
<a href="/awesome?query=TP53">TP53</a>,
<a href="/awesome?query=XRCC2">XRCC2</a>
</em></p>
