{% extends "layout.html" %}
{% block body %}
<script>
    $('#navbar_form_container').hide();
</script>
<body style="background-color:white">
<div class="container home">
    <div id="home-splash" class="row">
        <h1 class="col-md-8 col-md-offset-2" id="home-title" style="font-weight:400">
            A database of germline genomic variation in healthy older women.
        </h1>
        <div class="col-md-6 col-md-offset-3">
            <div id="home-searchbox">
                <form action="/awesome">
                    <input type="submit" style="display: none;"/>
                    <input id="home-searchbox-input" name="query" class="form-control input-lg awesomebar" type="text" placeholder="Search by variant, gene, or transcript"/>
                    <button type="submit" class="search-button"><img src="/static/searchIcon@2x.png" style="width: 25px;"></button>
                </form>

                    <!-- <a href="/transcript/ENST00000260947"></a>, -->

                <p id="home-examples" class="text-muted">
                    Ex:
                    <a href="/awesome?query=BRCA1">BRCA1</a>,
                    <a href="/awesome?query=c.G661T">c.G661T</a>,
                    <a href="/awesome?query=p.A221S">p.A221S</a>,
                    <a href="/awesome?query=17:41247872 C>A">17:41247872 C>A</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        {% include 'logos.html' %}
    </div>

    <div id="home-text" class="row">
        <div class="col-md-8 col-md-offset-2">
            {% include 'about_text.html' %}
        </div>
    </div>
</div>
</body>
{% endblock %}
