{% extends "layout.html" %}
{% block body %}
    <script>
        $('#navbar_form_container').hide();
    </script>
    <div class="container">
        <h1 id="home-title"><a href="https://www.whi.org/">WHI</a> FLOS(sie) Variant Database</h1>
        <div class="row">
            <div class="col-md-12">
                <div id="home-searchbox">
                    <form action="/awesome">
                        <input type="submit" style="display: none;"/>
                        <input id="home-searchbox-input" name="query" class="form-control input-lg awesomebar" type="text" placeholder="Search for a gene or variant or region"/>
                        <input type="submit" style="position: absolute; left: -9999px"/>
                    </form>
                    <p class="text-muted">
                        Examples - Gene: <a href="/awesome?query=BRCA1">BRCA1</a>,
                        Transcript: <a href="/transcript/ENST00000260947">ENST00000260947</a>,
                        Variant: <a href="/variant/22-29091121-C-CT">22-29091121-C-CT</a>,
                        Region: <a href="/region/16-68771128-68869451">chr16:68771128-68869451</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="font-size: 16px;">
            <div class="col-md-8">
                <h3 align="center"> <a href="/about" style="color: black;">About</a></h3>
                <div>
                    <p>
                      TODO
                    </p>
                    <p>
                        <a href="https://www.whi.org/">WHI</a> FLOS(sie) Variant Database. <a href="https://getcolor.com/">Color Genomics</a>.
                    </p>
                    <p>
                        This site uses a modified version of the open source <a href="https://github.com/konradjk/exac_browser">ExAC Browser</a>, developed by <a href="http://broadinstitute.org/">The Broad Institute</a> and distributed <a href="https://github.com/konradjk/exac_browser/blob/master/LICENSE">under the MIT License</a>.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <h3 align="center">Recent News</h3>
                <h4>October 99, 2016</h4> - ...
            </div>
        </div>
    </div>
{% endblock %}
