<!doctype html>
<head>
    <title>ExAC Browser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='typeaheadjs.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{  url_for('static', filename='jquery-1.11.1.min.js') }}"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{  url_for('static', filename='typeahead.bundle.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.tablesorter.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.tablesorter.pager.js') }}"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='theme.default.css') }}">
  </head>
</head>
<body>
<div id="header">
    <div class="container">
        <span>
            <a href="/" style="color: white; font-weight: bold;">ExAC Browser</a>
        </span>
        <div id="header-links">
            <a href="/">Home</a> |
            <a href="/downloads">Downloads</a> |
            <a href="/contact">Contact</a>
        </div>
    </div>
</div>
{% block body %}{% endblock %}
</body>