<div id="logos" class="col-md-12">
    <a href="http://www.gs.washington.edu/faculty/king.htm" target="_blank">
        <img src="/static/kingLab_logo@2x.png" width="160" alt="King Lab, University of Washington" />
    </a>
    <a href="https://www.color.com/" target="_blank">
        <img src="/static/color_logo@2x.png" width="222" alt="Color Genomics" />
    </a>
    <a href="https://www.whi.org/" target="_blank">
        <img src="/static/whi_logo@2x.png" width="160" alt="Women's Health Initiative" />
    </a>
</div>
