{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div id="about" class="row card">
        <div class="col-md-10 col-md-offset-1">
            <h1>Color is committed to research that advances what is known about under-studied populations.</h1>
            <p>Certain populations like women, non-caucasians, and healthy people are under-represented in genetics research. To make this research more comprehensive and inclusive, Color partners with some of the world's top cancer clinics and research hospitcals to sponsor genetic testing and spearhead cancer genetics research.
            </p>
            <br />
            <img src="/static/women_bulb_medium.png" width="186"
                 alt="women with light bulb" />
        </div>
    </div>

    <div id="exac" class="row card">
        <div class="col-md-12">
            <h3>University of Washington and the Women's Health Initiative</h3>
            <p>Our first collaboration is with <a href="http://www.gs.washington.edu/faculty/king.htm">Mary-Claire King, Ph.D.</a>, the <a href="http://www.gs.washington.edu/">University of Washington</a>, and the <a href="https://www.whi.org/">Women's Health Initiative</a> (WHI), a long-term national health study focused on strategies for preventing heart disease, breast and colorectal cancer, and osteoporotic fractures in postmenopausal women.
            </p>
            <p>All of the genetic variants are from 10,000 women who are older than 70 and have never had cancer.
            </p>
        </div>
        {% include 'logos.html' %}
    </div>
</div>
{% endblock %}
