{% extends "layout.html" %}
{% block body %}
    <script type="text/javascript">
        window.coverage_stats = {{ coverage|tojson|safe }};

        $(document).ready(function() {
            region_chart(window.coverage_stats, null);
        });
    </script>
    <div class="container">
        {% if rsid %}
            <h1>RSID: {{ rsid }}</h1>
        {% else %}
            <h1>Region: {{ chrom }} / {{ start }} / {{ stop }}</h1>
        {% endif %}
        <h3>Coverage summary</h3>
        <div class="row">
            {% include 'region_display.html' %}
        </div>
        {% if genes_in_region %}
            <ul>
                {% for gene in genes_in_region %}
                    <li><a href="/gene/{{ gene.gene_id }}">{{ gene.gene_id }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if rsid %}
            <p>This is a dbSNP variant. Here are the possibilities</p>
        {% else %}
            <p>Here are the these variants in this region:</p>
        {% endif %}
        {% with %}
            {% set table_variants = variants_in_region %}
            {% include 'variant_table.html' %}
        {% endwith %}
    </div>
{% endblock %}