<div id="site-banner" class="row banner">
    <div class="col-md-12">
      <h4 style="margin-top: 0px; margin-bottom: 0px"/>
        <img src="/static/kingLabs_logo_small@2x.png" width="30" alt="King Lab, University of Washington" />
        &nbsp;
        FLOSSIES is a joint effort of the King Lab at UW, Color Genomics, and the Women’s Health Initiative. <a href="/about">Learn more</a>
        <img src="/static/color_logo@2x.png" width="111" alt="Color Genomics" style="margin-top: -10px" />
      </h4>
    </div>
</div>
