<div id="site-banner" class="row banner">
    <div class="col-md-12">
        <img src="/static/color_logo@2x.png" width="111" alt="Color Genomics" />
        FLOSsies is a joint effort of the <a href="http://www.gs.washington.edu/faculty/king.htm">King Lab</a> at UW, <a href="https://www.color.com/">Color Genomics</a>, and the <a href="https://www.whi.org/SitePages/WHI%20Home.aspx">Women’s Health Initiative</a>. <a href="/about"><i class="fa fa-question-circle fa-20px"></i></a>
        <img src="/static/kingLabs_logo_small@2x.png" width="30" alt="King Lab, University of Washington" />
    </div>
</div>
