{% block variant_table %}
{% include 'variant_selectors.html' %}
{% include "variant_table_template.html" %}
<script>
    $(document).ready(function() {
        $("#variants_loading").hide();
        $("#variants_table_container").show();
        window.variants_template = _.template($('#variant-table-template').html());
        $('#variants_table_container').html(variants_template({table_variants: table_variants}));
        $("#variant_table").tablesorter({
            sortList: [[1,0], [2,0], [9,1]]
        });
{#                .tablesorterPager({container: $("#pager"), positionFixed: false});#}
{#        if (window.table_variants.length <= 10) {#}
            $('#pager').hide();
{#        }#}

        function get_af_category(d) {
            if (!d.allele_freq) {
                return [0, '0'];
            } else if (d.allele_count == 1) {
                return [1, 'a singleton'];
            } else if (d.allele_freq < 1/10000) {
                return [2, '<1/10000'];
            } else if (d.allele_freq < 1/1000) {
                return [3, '1/10000-0.001'];
            } else if (d.allele_freq < 1/100) {
                return [4, '0.001-0.01'];
            } else if (d.allele_freq < 1/20) {
                return [5, '0.01-0.05'];
            } else if (d.allele_freq < 1/2) {
                return [6, '0.05-0.5'];
            } else {
                return [7, '0.5-1'];
            }
        }

        var data = window.table_variants;

        var width = 50;
        var height = 15;

        var x_scale = d3.scale.linear()
            .domain([0, 7])
            .range([0, width]);

        var svg;
        $.each(data, function(i, d) {
            d3.select('#variant_af_box_' + d.variant_id).attr("data-tooltip", "Shows allele frequency \n on a discrete " +
                    "scale: \n singletons, <1/10,000, \n <1/1000, <1%, <5%, \n <50%, >50%. \n This particular variant is \n " +
                    get_af_category(d)[1] + ".");
            svg = d3.select('#variant_af_box_' + d.variant_id)
                .append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g");

            for (var j=0; j<8; j++) {
                svg.append('rect')
                        .style('stroke', 'steelblue')
                        .style('fill', 'white')
                        .attr('x', x_scale(j))
                        .attr('y', 0)
                        .attr('height', height)
                        .attr('width', x_scale(1) - x_scale(0))
            }

            svg.append('rect')
                .style('fill', 'steelblue')
                .attr('x', 0)
                .attr('y', 0)
                .attr('width', function() {
                    return x_scale(get_af_category(d)[0]);
                })
                .attr('height', height);

        });
        update_variants();
        $("#export_to_csv").on('click', function (event) {
            var output_name = window.page_name === undefined ? 'export' : window.page_name;
            var timestamp = date_format(new Date());
            exportTableToCSV.apply(this, [$('#variant_table'), 'exac_' + output_name + '_' + timestamp + '.csv']);
        });
    });
</script>
<div id="variants_loading">Loading variants...</div>
<div id="variants_table_container" style="display: none;"></div>
<div id="variants_table_empty" style="display: none;">No variants found.</div>
{% endblock %}