<script type="text/template" id="variant-table-template">
<a class="btn btn-success hidden-xs" id="export_to_csv">Export table to CSV</a>
<table id="variant_table" class="tablesorter">
    <thead>
        <tr>
            <th class="tooltip-table-header omit_csv" data-tooltip="chr:pos reference/alternate &#xa;(dbSNP135 rsID)">
                Variant</th>
            <th class='hidden-xs'>Chrom</th>
            <th class='hidden-xs'>Position</th>
            <td class="hidden">RSID</td>
            <th class="hidden">Reference</th>
            <th class="hidden">Alternate</th>
            <th class="hidden-xs tooltip-table-header" data-tooltip="HGVS protein change annotation">
                Protein Consequence</th>
            <th class="hidden">Transcript Consequence</th>
            <th class="hidden-xs tooltip-table-header" data-tooltip="VQSR sensitivity filter & hard filters">Filter</th>
            <th class="tooltip-table-header" data-tooltip="Variant Effect Predictor (VEP) &#xa; annotation using Gencode 75.&#xa; Worst across all transcripts of this gene.">Annotation</th>
            <th class="tooltip-table-header" data-tooltip="Alternate allele count in genotypes &#xa;(genotype quality >=20 & depth >=10)">
                Allele Count</th>
            <th class="hidden-xs tooltip-table-header" data-tooltip="Total number of called genotypes &#xa;(genotype quality >= 20 & depth >=10)">
                Allele Number</th>
            <th class="hidden-xs tooltip-table-header" data-tooltip="Number of homozygous individuals for this alternate allele">Number of Homozygotes</th>
            <th class="tooltip-table-header allele_frequency_column" data-tooltip="Frequency using only &#xa; high-quality genotypes">
                Allele Frequency</th>
            <th class="hidden">Allele Count African</th>
            <th class="hidden">Allele Number African</th>
            <th class="hidden">Homozygote Count African</th>
            <th class="hidden">Allele Count East Asian</th>
            <th class="hidden">Allele Number East Asian</th>
            <th class="hidden">Homozygote Count East Asian</th>
            <th class="hidden">Allele Count European (Non-Finnish)</th>
            <th class="hidden">Allele Number European (Non-Finnish)</th>
            <th class="hidden">Homozygote Count European (Non-Finnish)</th>
            <th class="hidden">Allele Count Finnish</th>
            <th class="hidden">Allele Number Finnish</th>
            <th class="hidden">Homozygote Count Finnish</th>
            <th class="hidden">Allele Count Latino</th>
            <th class="hidden">Allele Number Latino</th>
            <th class="hidden">Homozygote Count Latino</th>
            <th class="hidden">Allele Count Other</th>
            <th class="hidden">Allele Number Other</th>
            <th class="hidden">Homozygote Count Other</th>
            <th class="hidden">Allele Count South Asian</th>
            <th class="hidden">Allele Number South Asian</th>
            <th class="hidden">Homozygote Count South Asian</th>
        </tr>
    </thead>
    <tbody>
    <% _.each(table_variants, function(variant) { %>
        <tr class="table_variant" id="variant_<%= variant.variant_id %>"
            category="<%= variant.category %>" filter_status="<%= variant.filter %>" frequency="<%= variant.allele_freq %>">
            <td class="omit_csv">
                <a href="/variant/<%= variant.chrom %>-<%= variant.pos %>-<%= variant.ref %>-<%= variant.alt %>">
                <%= variant.chrom %>:<%= variant.pos %>
                <% if (variant.ref.length > 20) { %>
                    <%= variant.ref.slice(0,20) %>...
                <% } else { %>
                    <%= variant.ref %>
                <% } %> /
                <% if (variant.alt.length > 20) { %>
                    <%= variant.alt.slice(0,20) %>...
                <% } else { %>
                    <%= variant.alt %>
                <% } %>
                <% if (variant.rsid != '.') { %>
                    (<%= variant.rsid %>)
                <% } %>
                </a>
            </td>
            <td class='hidden-xs'> <%= variant.chrom %></td>
            <td class='hidden-xs'> <%= variant.pos %></td>
            <td class="hidden"><%= variant.rsid %></td>
            <th class="hidden"> <%= variant.ref %></th>
            <th class="hidden"> <%= variant.alt %></th>
            <td class='hidden-xs'> <%= variant.HGVSp %></td>
            <td class='hidden'> <%= variant.HGVSc %></td>
            <td class='hidden-xs'> <%= variant.filter %> </td>
            <td class="<%= variant.category %>"><b>
                <% if (variant.major_consequence) { %>
                    <%= variant.major_consequence.replace('_variant', '').replace(/_/g, ' ').replace('utr', 'UTR').replace('3 prime', "3'").replace('5 prime', "5'").replace('nc ', "non-coding ") %>
                <% } %>
            </b> </td>
            <td> <%= variant.allele_count %> </td>
            <td class='hidden-xs'> <%= variant.allele_num %> </td>
            <td class="hidden-xs"> <%= variant.hom_count %> </td>
            <td>
                <% if (variant.allele_freq) { %>
                    <%= variant.allele_freq.toPrecision(4) %>
                <% } else { %>
                    <%= variant.allele_freq %>
                <% } %>
                <div id="variant_af_box_<%= variant.variant_id %>" style="float: right;"></div>
            </td>
            <td class="hidden"> <%= variant.pop_acs["African"] %></td>
            <td class="hidden"> <%= variant.pop_ans["African"] %></td>
            <td class="hidden"> <%= variant.pop_homs["African"] %></td>
            <td class="hidden"> <%= variant.pop_acs["East Asian"] %></td>
            <td class="hidden"> <%= variant.pop_ans["East Asian"] %></td>
            <td class="hidden"> <%= variant.pop_homs["East Asian"] %></td>
            <td class="hidden"> <%= variant.pop_acs["European (Non-Finnish)"] %></td>
            <td class="hidden"> <%= variant.pop_ans["European (Non-Finnish)"] %></td>
            <td class="hidden"> <%= variant.pop_homs["European (Non-Finnish)"] %></td>
            <td class="hidden"> <%= variant.pop_acs["European (Finnish)"] %></td>
            <td class="hidden"> <%= variant.pop_ans["European (Finnish)"] %></td>
            <td class="hidden"> <%= variant.pop_homs["European (Finnish)"] %></td>
            <td class="hidden"> <%= variant.pop_acs["Latino"] %></td>
            <td class="hidden"> <%= variant.pop_ans["Latino"] %></td>
            <td class="hidden"> <%= variant.pop_homs["Latino"] %></td>
            <td class="hidden"> <%= variant.pop_acs["Other"] %></td>
            <td class="hidden"> <%= variant.pop_ans["Other"] %></td>
            <td class="hidden"> <%= variant.pop_homs["Other"] %></td>
            <td class="hidden"> <%= variant.pop_acs["South Asian"] %></td>
            <td class="hidden"> <%= variant.pop_ans["South Asian"] %></td>
            <td class="hidden"> <%= variant.pop_homs["South Asian"] %></td>
        </tr>
    <% }); %>
    </tbody>
</table>
<div id="pager" class="pager">
    <form>
        <i class="fa fa-caret-square-o-left fa-2x first link"></i>
        <i class="fa fa-caret-left fa-2x prev link"></i>
        <input type="text" class="pagedisplay" style="display: none;"/>
        <i class="fa fa-caret-right fa-2x next link"></i>
        <i class="fa fa-caret-square-o-right fa-2x last link"></i>
        <select class="pagesize">
            <option selected="selected" value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100000">All</option>
        </select>
    </form>
</div>
</script>