{% extends "layout.html" %}
{% block body %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{  url_for('static', filename='exac.js') }}"></script>
    <script>
        $(document).ready(function() {
            var map = map_initialize();
            $('.frequency_type_buttons').click(function() {
                redraw_map(map);
            });
            $('.frequency_display_buttons').change(function() {
                $('.frequency_displays').hide();
                var v = $(this).attr('id').replace('_button', '');
                $('#' + v + '_container').show();
            });
            $('#frequency_table').tablesorter();
            var a = "{{variant.genotype_info.genotype_qualities}}";
            draw_histogram(JSON.parse(a));
        });
    </script>
    <div class="container">
        <h1>Variant: {{ variant.chrom }}:{{ variant.pos }} {{ variant.ref }} / {{ variant.alt }}</h1>
        <hr/>

        {% if variant.orig_alt_alleles|length > 1 %}
            <p><span class="label label-info">Note:</span> This variant is multiallelic! The other alt alleles are:</p>
            <ul>
                {% for allele in variant.orig_alt_alleles %}
                    {% if allele != variant.alt %}
                        <li>
                            <a href="/variant/{{ variant.chrom }}-{{ variant.pos }}-{{ variant.ref }}-{{ allele }}">{{ allele }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <hr/>
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    {% if variant.rsid != "." %}
                        <dt>Known variant</dt>
                        <dd><a href="http://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?rs={{ variant.rsid }}" target="_blank">{{ variant.rsid }}</a></dd>
                    {% endif %}
                    <dt>Allele Frequency</dt>
                    <dd>{{ variant.allele_freq }}</dd>
                    <dt>Allele Count</dt>
                    <dd>{{ variant.allele_count }} / {{ variant.num_alleles }}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>Site Quality</dt>
                    <dd>{{ variant.site_quality }}</dd>
                    <dt>Filter Status</dt>
                    <dd>{{ variant.filter }}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Annotations</h3>
                {% if variant.vep_annotations %}
                    <p>This variant falls on {{ variant.transcripts|length }} transcripts in {{ variant.genes|length }} genes:</p>
                    <ul>
                    {% for gene in variant.genes %}
                            <li>
                                <a href="/gene/{{ gene }}">{{ gene }}</a>
                            </li>
                    {% endfor %}
                    </ul>
                    <div class="panel-group" id="annotation_accordion">
                        {% for annotation in variant.vep_annotations %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#annotation_accordion" href="#{{ annotation.Feature }}_{{ annotation.Allele }}">
                                            {{ annotation.Feature }}
                                            {% if annotation.SYMBOL %}
                                                ({{ annotation.SYMBOL }})
                                            {% endif %}
                                        </a>
                                    </h4>
                                </div>
                                {% if annotation.CANONICAL == "YES" %}
                                    <div id="{{ annotation.Feature }}_{{ annotation.Allele }}" class="panel-collapse collapse in">
                                {% else %}
                                    <div id="{{ annotation.Feature }}_{{ annotation.Allele }}" class="panel-collapse collapse">
                                {% endif %}
                                    <div class="panel-body">
                                        {% if annotation.LoF %}
                                            <span class="label label-danger">{{ annotation.LoF }}</span>
                                        {% endif %}
                                        <dl class="dl-horizontal" style="text-transform:capitalize;">
                                            <dt>Consequence</dt>
                                            <dd>{{ annotation.Consequence }}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    No annotations were found for this variant.
                {% endif %}
            </div>
            <div class="col-md-6">
                <h3>Population Frequencies</h3>
                <span class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active frequency_type_buttons">
                        <input type="radio" id="allele_frequencies_button"> Allele Frequencies
                    </label>
                    <label class="btn btn-primary frequency_type_buttons">
                        <input type="radio" id="genotype_frequencies_button"> Genotype Frequencies
                    </label>
                </span>
                <span class="btn-group" data-toggle="buttons" style="float: right;">
                    <label class="btn btn-primary active">
                        <input type="radio" class="frequency_display_buttons" id="frequency_map_button"> Map
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" class="frequency_display_buttons" id="frequency_table_button"> Table
                    </label>
                </span>
                <br/><br/>
                <div id="frequency_map_container" class="frequency_displays" style="height: 300px; width: 550px">
                </div>
                <div id="frequency_table_container" class="frequency_displays" style="display: none;">
                    <table id="frequency_table">
                        <thead>
                            <tr>
                                <th>Population</th>
                                <th>Allele Count</th>
                                <th>Allele Frequency</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>European</td>
                                <td>6</td>
                                <td>0.75</td>
                            </tr>
                            <tr>
                                <td>African</td>
                                <td>2</td>
                                <td>0.25</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h3>Quality Histogram</h3>
                <div id="quality_histogram"></div>
            </div>
        </div>
        <hr/>
        <p>The variant object that we are displaying looks like this:</p>
        <pre>{{ variant|pprint(True) }}</pre>
    </div>
{% endblock %}