{% extends "layout.html" %}
{% block body %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{  url_for('static', filename='exac.js') }}"></script>
    <script>
        $(document).ready(map_initialize);
    </script>
    <div class="container">
        <h1>Variant: {{ variant.chrom }}:{{ variant.pos }} {{ variant.ref }} / {{ variant.alt }}</h1>
        <hr/>

        {% if variant.orig_alt_alleles|length > 1 %}
            <p><span class="label label-info">Note:</span> This variant is multiallelic! The other alt alleles are:</p>
            <ul>
                {% for allele in variant.orig_alt_alleles %}
                    {% if allele != variant.alt %}
                        <li>
                            <a href="/variant/{{ variant.chrom }}-{{ variant.pos }}-{{ variant.ref }}-{{ allele }}">{{ allele }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <hr/>
        {% endif %}

        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>Allele Frequency</dt>
                    <dd>{{ variant.allele_freq }}</dd>
                    <dt>Allele Count</dt>
                    <dd>{{ variant.allele_count }} / {{ variant.num_alleles }}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>Site Quality</dt>
                    <dd>{{ variant.site_quality }}</dd>
                    <dt>Filter Status</dt>
                    <dd>{{ variant.filter }}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Annotations</h3>
                {% if variant.vep_annotations %}
                    This variant falls on {{ variant.vep_annotations|length }} transcripts.
                    <br/>
                    <div class="panel-group" id="annotation_accordion">
                        {% for annotation in variant.vep_annotations %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#annotation_accordion" href="#{{ annotation.Feature }}_{{ annotation.Allele }}">
                                            {{ annotation.Feature }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="{{ annotation.Feature }}_{{ annotation.Allele }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {% if annotation.LoF %}
                                            {{ annotation.LoF }}
                                        {% endif %}
                                        <dl class="dl-horizontal" style="text-transform:capitalize;">
                                            <dt>Consequence</dt>
                                            <dd>{{ annotation.Consequence }}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    No annotations were found for this variant.
                {% endif %}
            </div>
            <div class="col-md-6">
                <h3>Population Frequencies</h3>
                <div id="map_canvas" style="height: 300px; width: 550px"></div>
            </div>
        </div>
        <hr/>
        <br/><br/><br/><br/>
        <p>The variant object that we are displaying looks like this:</p>
        <pre>{{ variant|pprint(True) }}</pre>
    </div>
{% endblock %}