<span id="variant_selectors_container">
    <label for="variant_consequence_types">
        <span class="btn-group" data-toggle="buttons" id="variant_consequence_types">
            <button class="btn btn-primary consequence_display_buttons active" id="consequence_other_variant_button">
                <input type="radio" >All
            </button>
            <button class="btn btn-primary consequence_display_buttons" id="consequence_missense_variant_button">
                <input type="radio" >Missense + LoF
            </button>
            <button class="btn btn-primary consequence_display_buttons" id="consequence_lof_variant_button">
                <input type="radio">LoF
            </button>
        </span>
    </label>
    <label class='hidden-xs'>
        <input type="checkbox" id="filtered_checkbox" value=""> Include filtered (non-PASS) variants
    </label>
</span>
<span style="float:right">
    <label class='hidden-xs'>
        <input type="checkbox" id="inverted_checkbox" value=""> Invert (highlight rare variants)
    </label>
</span>